body{
    background-image: url(../images/rough_diagonal_arka.png);
    font-family: Arial,Helvetica,Sans-serif;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#breadcrumbs{
    margin: 20px auto;
    border: 1px solid #612c1a;
    background-color: #ffe600;
    color: #612c1a;
    width: 665px;
}
#breadcrumbs li{
    display: inline-block;
    padding: 10px;
}
#breadcrumbs li.selected{
    background-color: #ffa900;
}
#breadcrumbs li.visited{
    background-color: #af6603;
    color:#000;
}
#calendar_section{
    background-color: #e9ddaf;
    border: 1px solid #612c1a;
}
#calendar_section .datepick{
    margin: 10px auto;
    padding: 5px;
    background-color: #e9ddaf;
    border: 1px solid #612c1a;
}
#dates{
    width: 400px;
    margin: 5px auto;
}
#dates input{
    padding: 5px;
    border: 1px solid #612c1a;
    width: 150px;
}
#steps{
    width: 400px;
    margin: 10px auto;
    border: 1px solid #612c1a;
    padding: 5px;
    background-color: #e9ddaf;
    height: 40px;
}
#steps div{
    color: #fff;
    background-color: #612c1a;
    width: 150px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin: 0 23px;
}
#steps div:hover{
    cursor: pointer;
    background-color: #ffa900;
    color: #612c1a;
}
#steps div.disabled:hover{
    color: #fff;
    background-color: #612c1a;
    cursor: default;
}
.datepick-month td span{
    height: 23px;
    width: 38px;
    line-height: 23px;
    margin: 1px;
}
.locked_rooms{
    width:200px;
    padding: 10px;
    border: 1px solid #612c1a;
    background-color: #e9ddaf;
    text-align: center;
    margin: 20px auto;
}
.error{
    width:70%;
    padding: 10px;
    border: 3px solid #bc0005;
    background-color: #fff3c3;
    text-align: center;
    margin: 20px auto;
    color: #bc0005;
}
#splash_screen{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 0;
    left: 0;
}
#spiner{
    position: relative;
    top:50%;
    left:50%;
}
.rooms{
    margin-top: 10px;
    background-color: #E9DDAF;
    border: 1px solid #612C1A;
}
.room{
    width: 188px;
    height: 188px;
    border: 1px solid #dbc87d;
    background-color: #dbc87d;
    padding: 10px;
    margin: 10px;
    position: relative;
}
.room.lock{
    background-color: #ffa900;
}
.room .select{
    width:100px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #000;
    background-color: #af6603;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 55px;
    bottom: 10px;
}
.room .select:hover{
    border: 1px solid #af6603;
    background-color: #e9ddaf;
    color: #af6603;
}
.room.lock .select{
    display: none;
}
.room.selected{
    border: 1px solid #612C1A;
    background-color: #d0b488;
}
#result_payment > div {
    border: 1px solid #612C1A;
    background-color: #E9DDAF;
    padding: 10px;
    margin: 10px auto;
    width: 960px;
}
.room_price {
    border: 1px dashed #612C1A;
    background-color: #E0D0A4;
    padding:10px;
    width: 90%;
    margin: 5px auto;
}
.room_price:hover {
    background-color: #c9bD8F;
}
.room_price .spa, 
.room_price .dostawka_1,
.room_price .dostawka_2,
.room_price .dostawka_3,
.room_price .dostawka_n{
    margin: 10px 0;
}
.room_price .spa span,
.room_price .dostawka_1 span,
.room_price .dostawka_2 span,
.room_price .dostawka_3 span,
.room_price .dostawka_n span{
    font-weight: bold;
}
.room_price div label{
    float: left;
    width:260px;
}
.room_price div input{
    float: left;
    width:20px;
}
.room_price div span{
    float: left;
}
.room_price .name{
    font-size: 22px;
    text-align: center;
}
.room_price .price{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 10px;
}
.room_price .price span{
    font-size: 18px;
    font-weight: normal;
}
#price_summary{
    text-align: center;
    font-size: 20px;
}
#price_summary i{
    font-weight: bold;
}
.clear{
    clear: both;
}
#regulamin_desc{
    display: none;
}
#user_data{
    padding: 10px 0;
}
#user_data p{
    margin: 5px auto;
    width: 750px;
    display: block;
}
#user_data p i{
    line-height: 37px;
    float: right;
}
#user_data p.regulamin i{
    float: none;
    margin-left: 20px;
}
#user_data p.regulamin{
    margin-top: 30px;
}
#user_data p i.icon-ok{
    color: darkgreen;
    display: none;
}
#user_data p i.icon-error{
    color: #b60507;
    display: none;
}
#user_data label{
    float: left;
    width: 250px;
    color: #612C1A;
    line-height: 40px;
}
#user_data input{
    float: left;
    margin-left: 30px;
    width: 380px;
    padding: 10px;
}
#user_data input.input_error{
    border-color: #A50404;
    background-color: #D19898;
}
#user_data p.important{
    border: 1px dashed #612C1A;
    background-color: #EFCF02;
    padding: 15px;
}
#user_data p.important i{
    float: none;
    line-height: normal;
}
input{
    border: 1px solid #612C1A;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color: #D2C69A;
    color: #612C1A;
}
#regulamin{
    margin-top: 15px;
}
.ok{
    margin-top: 10px;
    border: 1px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}
.reservation_details{
    padding:15px;
}
.reservation_details h3{
    font-size: 18px;
}
b{
    font-weight: bold;
}
.reservation_details table{
    text-align: center;
    margin: 10px 0;
    border: 1px solid #000;
}
.reservation_details table thead{
    background-color: #ccb042;
}
.reservation_details table tbody tr.color{
    background-color: #dfd095;
}
.reservation_details table td, .reservation_details table th{
    padding:10px;
}