body{
    background-color: #3A3F42;
    color: #D4D7D7;
}
footer {
    background-color: #2A2E2F;
    border-top: 1px solid #A5A7A7;
    bottom: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
}
header {
    background-color: #2A2E2F;
    border-bottom: 1px solid #A5A7A7;
    height: 60px;
    padding: 10px;
    width: auto;
}
#login_block{
    background-color: #595D5E;
    border: 1px solid #A5A7A7;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    margin-top: 40px;
}
#login_block input{
    background-color: #595B5B;
    border: 1px solid rgba(0, 0, 0, 0.36);
    color: #C6C8C8;
}
.input-group-addon{
    background-color: #444646;
    border-color: #292929;
    padding: 7px 12px;
}
#error {
     background-color: #F0DBE0;
     border: 1px solid #DA4F49;
     border-radius: 3px 3px 3px 3px;
     color: #DA4F49;
     margin-top: 20px;
     padding: 10px;
     text-align: center;
 }
#ok{
    background-color: #D9EFDC;
    border: 1px solid #63AD18;
    border-radius: 3px 3px 3px 3px;
    color: #63AD18;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
#descripotion_block, #logo{
    height: 39px;
    width: 225px;
    margin-right: 20px;
    float: left;
    line-height: 39px;
}
#logo{
    width: 32px;
    font-size: 32px;
    color: #a1bef0;
}
nav{
    float: right;
}