<ul id="breadcrumbs" class="dj-main">
    <li class="selected dj-up active">
        <a class="dj-up_a">
            <span>
                Termin
                <i class="icon-calendar"></i>
            </span>
        </a>
    </li><li class="dj-up">
        <a class="dj-up_a">
            <span>
                Wybór pokoi
                <i class="icon-th-list"></i>
            </span>
        </a>
    </li><li class="dj-up">
        <a class="dj-up_a">
            <span>
                Koszty
                <i class="icon-credit-card"></i>
            </span>
        </a>
    </li><li class="dj-up">
        <a class="dj-up_a">
            <span>
                Dane kontaktowe
                <i class="icon-edit"></i>
            </span>
        </a>
    </li><li class="dj-up">
        <a class="dj-up_a">
            <span>
                Podsumowanie
                <i class="icon-ok"></i>
            </span>
        </a>
    </li>
</ul>