        <footer id="footer">
            <div class="footer">
                <div class="menu2">
                    <div class="moduletable_menu">
                        <ul class="menu">
                            <li class="item-101"><a href="/ANMA_ARKA/HOTEL_ARKA/pl/">Strona główna</a></li><li class="item-102 current active"><a href="/ANMA_ARKA/HOTEL_ARKA/pl/oferta">Oferta</a></li><li class="item-103 parent"><a href="#">Spa</a></li><li class="item-104"><a href="/ANMA_ARKA/HOTEL_ARKA/pl/galeria">Galeria</a></li><li class="item-105"><a href="/ANMA_ARKA/HOTEL_ARKA/pl/udogodnienia">Udogodnienia</a></li><li class="item-106"><a href="/ANMA_ARKA/HOTEL_ARKA/pl/restauracja">Restauracja</a></li><li class="item-138"><a href="/ANMA_ARKA/HOTEL_ARKA/pl/o-nas">O nas</a></li><li class="item-108"><a href="/ANMA_ARKA/HOTEL_ARKA/pl/kontakt">Kontakt</a></li></ul>
                    </div>
                </div>
                <div class="lang2">
                    <div class="moduletable">
                        <div class="mod-languages">
                            <ul class="lang-inline">
                                <li dir="ltr" class="lang-active">
                                    <a href="/ANMA_ARKA/HOTEL_ARKA/pl/">
                                        <img title="polski" alt="polski" src="/ANMA_ARKA/HOTEL_ARKA/media/mod_languages/images/pl.gif"></a>
                                </li>
                                <li dir="ltr" class="">
                                    <a href="/ANMA_ARKA/HOTEL_ARKA/en/">
                                        <img title="English (UK)" alt="English (UK)" src="/ANMA_ARKA/HOTEL_ARKA/media/mod_languages/images/en.gif"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer2">
                <div class="moduletable">
                    <div class="footer21">Copyright &copy; 2013 Hotel Arka. Wszelkie prawa zastrzeżone.<br></div>
                    <div class="footer22"><a href="/">www.hotel-arka.pl</a></div>
                </div>
            </div>
            <div class="footer3">
                <div class="moduletable">
                    <div class="custom">
                        Wszelkie informacje i materiały zamieszczone na stronach internetowych Hotel Arka nie są ofertą handlową w świetle przepisów kodeksu Cywilnego oraz innych właściwych przepisów prawnych. Wobec wszelkich produktów i usług firmy Hotel Arka nie mają zastosowania przepisy ustawy z 27.07.2002 o szczególnych warunkach sprzedaży konsumenckiej i ustawy z 2.03.2000 o ochronie niektórych praw konsumentów oraz odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny.</div>
                </div>
            </div>
        </footer>
    </body>
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.datepick.js"></script>
    <script src="js/jquery.ui.datepicker-pl.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/jquery.validVal-4.4.1-min.js"></script>
    <script src="js/scripts.js"></script>
</html>