<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Zarezerwuj pokój</title>
        <link href="css/meyer_reset_css.css" rel="stylesheet" type="text/css" />
        <link href="css/960_24_col.css" rel="stylesheet" type="text/css" />
        <link href="css/elusive-webfont.css" rel="stylesheet" type="text/css" />
        <link href="css/elusive-webfont-ie7.css" rel="stylesheet" type="text/css" />
        <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
        <link href="css/jquery.datepick.css" rel="stylesheet" type="text/css" />
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="splash_screen">
            <div id="spiner"></div>
        </div>
