<div class="row">
    <form method    = "POST"
          action    = ""
          class     = "col-5 col-offset-3 form-horizontal"
          id        = "login_block"
          role      = "form"
    >
        <div class="form-group">
            <label class="col-lg-3 control-label">
                <i class="icon-lock"></i>
                Hasło:
            </label>
            <div class="col-lg-8">
                <input  type        = "text"
                        name        = "pass"
                        placeholder = "hasło"
                        class       = "form-control"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-offset-5 col-lg-5">
                <button type="submit" class="btn btn-primary">
                    Zalogój
                </button>
            </div>
        </div>
    </form>
</div>