<nav>
    <ul class="nav nav-pills">
        <li class="{;active_terms;}">
            <a href="?page=terms">
                <i class="icon-th-list"></i>
                Lista terminów
            </a>
        </li>
        <li class="{;active_reservations;}">
            <a href="?page=reservations">
                <i class="icon-list-alt"></i>
                Lista rezerwacji
            </a>
        </li>
        <li>
            <a href="?page=log_out">
                <i class="icon-off"></i>
                Log out
            </a>
        </li>
    </ul>
</nav>