<div class="row">
    <h3>
        Lista rezerwacji
    </h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Numer rezerwacji
                </th>
                <th>
                    Powiązane terminy
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Dane
                </th>
                <th>
                    Od
                </th>
                <th>
                    Do
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {;start;reservations;}
            <tr class="{;reservations;class;}">
                <td>
                    {;reservations;id;}
                </td>
                <td>
                    {;reservations;term_list;}
                </td>
                <td>
                    {;reservations;email;}
                </td>
                <td>
                    <button type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            href="#reservation_detail_{;reservations;id;}"
                            >
                        <i class="icon-list"></i>
                        Szczegóły rezerwacji
                    </button>
                </td>
                <td>
                    {;reservations;from;}
                </td>
                <td>
                    {;reservations;to;}
                </td>
                <td>
                    <button type="button"
                            class="btn btn-info"
                            data-id="{;reservations;id;}"
                    >
                        <i class="icon-info-sign"></i>
                        Pokaż terminy
                    </button>
                    <br/>
                    <br/>
                    <button type="button"
                            class="btn btn-danger remove_reservation"
                            data-id="{;reservations;id;}"
                            data-toggle="modal"
                            href="#remove_confirm"
                    >
                        <i class="icon-trash"></i>
                        Usuń rezerwacje i wszystkie terminy
                    </button>
                </td>
            </tr>
            {;end;reservations;}
        </tbody>
    </table>
</div>
{;start;reservation_details;}
<div class="modal fade"
     id="reservation_detail_{;reservation_details;id;}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Szczegóły rezerwacji"
     aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content {;reservation_details;payment_done;}">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                >
                    &times;
                </button>
                <h4 class="modal-title">
                    Szczegóły rezerwacji: {;reservation_details;id;}
                    {;reservation_details;payment_ico;}
                </h4>
            </div>
            <div class="modal-body">
                <address>
                    <strong>
                        Imię:
                    </strong>
                    {;reservation_details;imie;}
                    <br/>
                    <strong>
                        Nazwisko:
                    </strong>
                    {;reservation_details;nazwisko;}
                    <br/>
                    <strong>
                        Ulica:
                    </strong>
                    {;reservation_details;ulica;}
                    <br/>
                    <strong>
                        Numer domu/mieszkania:
                    </strong>
                    {;reservation_details;numer;}
                    <br/>
                    <strong>
                        Miasto:
                    </strong>
                    {;reservation_details;miasto;}
                    <br/>
                    <strong>
                        Kod pocztowy:
                    </strong>
                    {;reservation_details;kod;}
                    <br/>
                    <strong>
                        Telefon:
                    </strong>
                    {;reservation_details;telefon;}
                    <br/>
                    <strong>
                        Email:
                    </strong>
                    <a href="mailto:{;reservation_details;mail;}">
                        {;reservation_details;mail;}
                    </a>
                    <br/>
                </address>
                <div class="full_price">
                    <div>
                       Łączny koszt za wszystkie pokoje: {;reservation_details;full_price;} zł
                    </div>
                    <input type="checkbox"
                           class="payment"
                           data-paymentid="{;reservation_details;id;}"
                           {;reservation_details;payment;}
                    /> Zapłacono
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default remove_term_cancel"
                        data-dismiss="modal"
                >
                    Zamknij
                </button>
            </div>
        </div>
    </div>
</div>
{;end;reservation_details;}
<div class="modal fade"
     id="remove_confirm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Potwierdzenie usunięcia"
     aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                >
                    &times;
                </button>
                <h4 class="modal-title">Potwierdzenie usunięcia</h4>
            </div>
            <div class="modal-body">
                Czy na pewno usunąć wybraną rezerwację i powiązane z nią terminy? 
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default remove_reservation_cancel"
                        data-dismiss="modal"
                >
                    Anuluj
                </button>
                <button type="button"
                        class="btn btn-danger remove_reservation_modal"
                >
                    Usuń
                </button>
            </div>
        </div>
    </div>
</div>