<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Liber reservation system manager</title>
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../css/elusive-webfont.css" rel="stylesheet" type="text/css" />
        <link href="../css/elusive-webfont-ie7.css" rel="stylesheet" type="text/css" />
        <link href="../css/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
        <link href="../css/jquery.datepick.css" rel="stylesheet" type="text/css" />
        <link href="../css/manager_main.css" rel="stylesheet" type="text/css" />
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
