        </div>
        <footer>
            designed by: <a href="http://bluetree.pl">bluetree.pl</a> 2013 &copy;
            <img src="../images/bluetree_base.png"/>
        </footer>
    </body>
    <script src="../js/jquery-1.9.1.js"></script>
    <script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/jquery.datepick.js"></script>
    <script src="../js/jquery.ui.datepicker-pl.js"></script>
    <script src="../js/jquery.validVal-4.4.1-min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/manager_scripts.js"></script>
</html>