<div class="row">
    <form method    = "POST"
          action    = ""
          class     = "col-5 col-offset-3 form-horizontal"
          id        = "login_block"
          role      = "form"
    >
        <div class="form-group">
            <div class="col-offset-1 col-lg-10 input-group">
                <span class="input-group-addon">
                    <i class="icon-lock"></i>
                </span>
                <input  type        = "text"
                        name        = "pass"
                        placeholder = "Hasło"
                        class       = "form-control"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-offset-5 col-lg-5">
                <button type="submit" class="btn btn-primary">
                    Zalogój
                </button>
            </div>
        </div>
    </form>
</div>