<div class="row">
    <h3>
        Lista terminów
    </h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Numer terminu
                </th>
                <th>
                    Dane pokoju
                </th>
                <th>
                    Od
                </th>
                <th>
                    Do
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {;start;terms;}
            <tr class="{;terms;class;}">
                <td>
                    {;terms;id;}
                </td>
                <td>
                    Ilość miejsc: {;terms;room_space;}<br/>
                    Numer pokoju: {;terms;room_number;}<br/>
                    <button type="button"
                            class="btn btn-default"
                            data-id="{;terms;id;}"
                    >
                        <i class="icon-list"></i>
                        Szczegóły pokoju
                    </button>
                </td>
                <td>
                    {;terms;from;}
                </td>
                <td>
                    {;terms;to;}
                </td>
                <td>
                    <button type="button"
                            class="btn btn-info"
                            data-id="{;terms;id;}"
                    >
                        <i class="icon-info-sign"></i>
                        Pokaż rezerwacje
                    </button>
                    <br/>
                    <br/>
                    <button type="button"
                            class="btn btn-danger remove_reservation"
                            data-id="{;terms;id;}"
                            data-toggle="modal" 
                            href="#remove_confirm"
                    >
                        <i class="icon-trash"></i>
                        Usuń termin i wszystkie rezerwacje
                    </button>
                </td>
            </tr>
            {;end;terms;}
        </tbody>
    </table>
</div>
<div class="modal fade"
     id="remove_confirm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                >
                    &times;
                </button>
                <h4 class="modal-title">Potwierdzenie usunięcia</h4>
            </div>
            <div class="modal-body">
                Czy na pewno usunąć wybrany termin i powiązane z nim rezerwacje? 
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default remove_reservation_cancel"
                        data-dismiss="modal"
                >
                    Anuluj
                </button>
                <button type="button"
                        class="btn btn-danger remove_reservation_modal"
                >
                    Usuń
                </button>
            </div>
        </div>
    </div>
</div>