<div class="rooms container_24">
    {;start;rooms;}
        <div 
            class="room grid_5 {;rooms;locked;} unselected" 
            data-id="{;rooms;id;}"
            data-space="{;rooms;space;}"
        >
            <i class="icon-{;rooms;locked;}"></i><br/>
            Ilość miejsc: 
            <select class="space">
                {;rooms;space_option;}
            </select>
            <br/>
            Numer pokoju: {;rooms;number;}<br/>
            Piętro: {;rooms;floor;}<br/>
            <p>
                {;rooms;description;}
            </p>
            <div class="select">Wybierz</div>
        </div>
    {;end;rooms;}
</div>