<div class="ok container_24">
    <i class="icon-ok-circle"></i>
    Rezerwacja została złożona poprawnie.
</div>
<div class="rooms container_24">
    <div class="reservation_details">
        <h3>
            W celu potwierdzenia rezerwacji obsługa hotelu skontaktuje się
            z państwem.
        </h3>
        <br/><br/>
        Szczegóły rezerwacji:
        <br/><br/>
        Termin: {;term;}
        <br/>
        <table width="100%">
            <thead>
                <tr>
                    <th width="10%">
                        L.p.
                    </th>
                    <th width="10%">
                        Numer pokoju
                    </th>
                    <th width="10%">
                        Zabieg SPA
                    </th>
                    <th width="10%">
                        Ilość wybranych miejsc
                    </th>
                    <th width="30%">
                        Opis
                    </th>
                    <th width="10%">
                        Piętro
                    </th>
                    <th width="10%">
                        Dostawka
                    </th>
                    <th width="10%">
                        Cena za pokój
                    </th>
                </tr>
            </thead>
            <tbody>
            {;start;rooms;}
            <tr class="{;rooms;class;}">
                <td>{;rooms;counter;}</td>
                <td>{;rooms;room_number;}</td>
                <td>{;rooms;spa;}</td>
                <td>{;rooms;reserved_space;}</td>
                <td>{;rooms;description;}</td>
                <td>{;rooms;floor;}</td>
                <td>{;rooms;dostawka;}</td>
                <td>{;rooms;room_price;}</td>
            </tr>
            {;end;rooms;}
            </tbody>
        </table>
        <br/>
        Łączna cena:
        <span>
            {;op;promotion_decrease_base;}
            (<strike>{;full_base_price;}</strike>)
            {;op_end;promotion_decrease_base;}
            <b>{;final_price;}</b>
            {;op;promotion_decrease;}
            - {;promotion;}%
            {;op_end;promotion_decrease;}
        </span>
    </div>
</div>