Dokonałeś udanej rezerwacji pokoi w {;system_name2;}.<br/><br/>
Szczeguły rezerwacji:<br/>
Termin: {;term;}<br/>
<table>
    <thead>
        <tr>
            <td>
                Pokój
            </td>
            <td>
                Ilość osób
            </td>
            <td>
                Wybrane usługi
            </td>
            <td>
                Cena zł
            </td>
        </tr>
    </thead>
    <tbody>
    {;start;rooms;}
    <tr>
        <td></td>
    </tr>
    {;end;rooms;}
    </tbody>
</table>
<hr/>
Łączna cena za wybrane usługi: {;price_sum;} zł
<br/><br/><br/>
Dziękujemy za wybranie naszych usług.
Pozdrawiamy {;system_name2;}.